// CSS SUPERA

//COLORS

dark blue: #222032


//TYPOGRAPHY

/* A New Smart Booking: */
font-family: Questa-Regular;
font-size: 38px;
color: #FFFFFF;
letter-spacing: 0px;


/* Tell me when it’s ou: */
font-family: Questa-Regular;
font-size: 32px;
color: #222032;
letter-spacing: 0px;

/* COMING SOON: */
font-family: FranklinGothic-Medium;
font-size: 16px;
color: #FFFFFF;
letter-spacing: 2.2px;

/* ABOUT US: */
font-family: FranklinGothic-Book;
font-size: 15px;
color: #2B293C;
letter-spacing: 1px;

/* youremail@email.com: */
font-family: FranklinGothic-Book;
font-size: 16px;
color: #9B9B9B;
letter-spacing: 2.2px;

/* We Provide a Complet: */
font-family: Questa-Regular;
font-size: 32px;
color: #9B9B9B;
letter-spacing: 0px;

/* The Best Hotel Rooms: */
font-family: Questa-Regular;
font-size: 22px;
color: #4A4A4A;
letter-spacing: 0px;

/* Details: */
font-family: FranklinGothic-Medium;
font-size: 16px;
color: #4A4A4A;
letter-spacing: 2.2px;





/* Coming Soon: */
background: #222032;